@font-face {
    font-family: 'Shadeon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Shadeon Regular'), url('Shadeon-ALo4g.woff') format('woff');
    }

h1 {
    font-family: 'Shadeon Regular';
    font-weight: 200;
    letter-spacing: 15px;
    color: azure;
}